{% extends 'base.html' %}

{% block title %}Posts{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
{% endblock %}

{% block css %} 
<link rel="stylesheet" href="{{ url_for('.static', filename='css/posts.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="myclass"><h1>Articles</h1></div>
    
    <form action="{{ url_for('.add_post') }}" class="mb-4">
        <button type="submit" class="btn btn-primary">Add post</button>
    </form>

    <div class="row">
        {% for post in posts %}
        <div class="col-md-6 col-lg-3 mt-5">
            <div class="blog-grid">
                <div class="blog-grid-img position-relative">
                    <img alt="img" src="{{ url_for('post.static', filename='images/post_image.png') }}">
                </div>
                <div class="blog-grid-text p-4">
                    <h3 class="h5 mb-3">
                        <a href="{{ url_for('post.detail_post', id=post['id']) }}">{{ post['title'] }}</a>
                    </h3>
                    <p class="display-30">{{ post['content'][:100] }}</p>
                    <div class="meta meta-style2">
                        <ul>
                            <li><a href="#"><i class="fas fa-calendar-alt"></i> {{ post['date_posted'] }}</a></li>
                            <li><a href="#"><i class="fas fa-calendar-alt"></i> {{ post['category'] }}</a></li>
                            <li><a href="#"><i class="fas fa-user"></i> {{ post['author'] }}</a></li>
                        </ul>
                    </div>
                    
                    <!-- Display Tags -->
                    <div class="tags mt-2">
                        <strong>Tags:</strong>
                        {% if post['tags'] %}
                            {% for tag in post['tags'] %}
                                {{ tag.name }}{% if not loop.last %} | {% endif %}
                            {% endfor %}
                        {% else %}
                            No tags
                        {% endif %}
                    </div>
                    
                    <!-- Delete Button Form -->
                    <form action="{{ url_for('post.delete_post', id=post['id']) }}" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                    <!-- Edit Button Form -->
                    <form action="{{ url_for('post.edit_post', id=post['id']) }}" method="GET" style="display:inline;">
                        <button type="submit" class="btn btn-warning btn-sm">Edit</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
