/* New Bootstrap posts*/
body {
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.5;
}

body.light {
    background-color: #dfdfdf;
    color: #000000;
}

body.dark {
    background-color: #343a40;
    color: #ffffff;
}

.blog-grid {
    position: relative;
    box-shadow: 0 1rem 1.75rem 0 rgba(45, 55, 75, 0.1);
    border: 0.0625rem solid rgba(220, 224, 229, 0.6);
    border-radius: 0.25rem;
    transition: all .2s ease-in-out;
    height: 100%;
}

.blog-grid span {
    color: #292dc2;
}

.blog-grid img {
    width: 100%;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.blog-grid-text {
    position: relative;
}

.blog-grid-text > span {
    color: #292dc2;
    font-size: 13px;
    padding-right: 5px;
}

.blog-grid-text h4,
h1, h2, h3 {
    line-height: normal;
    margin-bottom: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #690d2c;
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark .blog-grid-text h4 {
    color: #fafafa;
}

.blog-grid-text .meta-style2 {
    border-top: 1px dashed #cee1f8 !important;
    padding-top: 15px;
}

.blog-grid-text .meta-style2 ul li {
    margin-bottom: 0;
    font-weight: 500;
}

.blog-grid-text ul {
    margin: 0;
    padding: 0;
}

.blog-grid-text ul li {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin: 5px 10px 5px 0;
}

.blog-grid-text ul li:last-child {
    margin-right: 0;
}

.blog-grid-text ul li i {
    font-size: 14px;
    font-weight: 600;
    margin-right: 5px;
}

.blog-grid-text p {
    font-weight: 400;
    padding: 0;
}

.blog-list-left-heading:after,
.blog-title-box:after {
    content: '';
    height: 2px;
}

.blog-grid-simple-content a:hover,
a:hover {
    color: #1d184a;
}

.pagination {
    border-radius: 0;
    padding: 0;
    margin: 0;
}

.pagination ul {
    display: inline-block;
    display: inline;
    zoom: 1;
    margin: 0 auto;
    padding: 0;
}

.pagination li {
    display: inline;
}

.pagination a {
    float: left;
    padding: 0 18px;
    line-height: 40px;
    text-decoration: none;
    border: 1px solid #dbdbdb;
    border-left-width: 0;
    background: #fff;
}

.pagination a:hover {
    background-color: #1d184a;
    color: #fff;
}

.pagination .active a {
    background-color: #f7f7f7;
    color: #999;
    cursor: default;
}

.pagination .disabled span,
.pagination .disabled a {
    color: #999;
    background-color: transparent;
    cursor: default;
}

.pagination li:first-child a {
    border-left-width: 1px;
}

.mt-6,
.my-6 {
    margin-top: 3.5rem;
}

/* Existing CSS Styles */
img {
    width: 200px;
    height: 200px;
}

header {
    margin-top: 80px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body.dark section {
    background-color: #495057;
}

footer {
    border-top: 1px solid #333;
    border-radius: 8px;
    background-color: #fafafa;
}

body.dark footer {
    background-color: #495057;
}

.navbar {
    background-color: #690d2c;
}

body.dark .navbar {
    background-color: #222; 
}

.navbar .nav-link,
.navbar-brand {
    color: #ffffff;
    font-weight: bold;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 24px;
    }

    section {
        padding: 10px;
    }
}

.alert-success {
    color: green;
    background-color: #d4edda;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.alert-danger {
    color: red;
    background-color: #f8d7da;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.myclass {
    background-color: #bbff00; /* Fully opaque */
}